.scheduling-container {
    display: flex;
    flex-direction: column;
    padding: 2px;
    width: 100%;
  }
  
  .jobs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 100%;
  }
  
  .job-box {
    flex: 0 0 5%;
    box-sizing: border-box;
    padding: 5px;
    margin: 5px; 
  }
  
  .no-jobs-table {
    width: 100%;
    text-align: center;
  }
  
  