.container {
    display: flex;
    justify-content: space-between;
  }
  
  .projects {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .trades {
    flex: 0.3;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 2px solid #ddd;
    text-align: right;
  }
  
  .trade-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
  }
  
  
  
  