.employee-title{
    text-align: center;
    margin-bottom: 50px;
}

.employee-table,th, td {
    margin-top: 55px;
    border: 3px solid rgb(207, 203, 203);
      border-collapse: collapse;
      padding-left: 50px;
      padding-right: 50px;
      margin-left: 50px;
      margin-right: 50px;

  }

  input {
    margin: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
  } 

