.job-table,th, td {
    margin-top: 55px;
    border: 3px solid rgb(207, 203, 203);
      border-collapse: collapse;
      padding-left: 40px;
      padding-right: 40px;
      margin-left: 100px;
      margin-right: 50px;

  }

  .table-title{
    margin-top: 35px;
    text-align: center;
  }

  .jobs-title{
    text-align: center;
    padding-bottom: 15px;
  }

   .job-Number{
      margin-left: 25px;

  } 

  .job-name{
      margin-left: 25px;

  }

  .job-location{
    margin-left: 25px;

  }

  .date-start{
    margin-left: 25px;
  }

  .date-end{
    margin-left: 25px;
  }

.job-button{
  margin-left: 15px;

}